#av {
  color: white;
  background: black;
}
body {
  margin: 0;
  font: "Arial";
}
.header {
  display: flex;
  justify-content: space-between;
  background-color: #f31f1b;
  padding: 10px 5px;
  box-shadow: 0 3px 5px -1px #0003, 0 6px 10px #00000024, 0 1px 18px #0000001f;
}
.logo {
  width: auto;
  height: 64px;
}
.nav-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.nav-items > ul {
  display: flex;
  list-style-type: none;
}
.nav-items > ul > li {
  color: white;
  font-size: 16px;
  padding: 0 10px;
}
.restaurant-container {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}
.restaurant-card {
  padding: 5px;
  width: 200px;
  min-height: 440px;
  border: 1px solid #efefef;
  background-color: #f0f0f0;
  margin: 5px;
}
.restaurant-card:hover,
.btn-top-rated:hover {
  cursor: pointer;
  box-shadow: 0 3px 5px -1px #0003, 0 6px 10px #00000024, 0 1px 18px #0000001f;
}
.restaurant-img {
  width: 200px;
  height: 170px;
  object-fit: fill;
}
.search-container {
  padding: 20px;
}
.btn-top-rated {
  margin-left: 25px;
  font-size: 18px;
  background-color: white;
  color: green;
  border: 1px solid green;
  width: 200px;
  height: 50px;
}
.btn-top-rated.btn-selected {
  background-color: green;
  border: 1px solid green;
  color: white;
}

.actions-container {
  margin: 10px;
  display: flex;
  justify-content: space-between;
}

.shimmer {
  color: grey;
  display: inline-block;
  -webkit-mask: linear-gradient(90deg, #000 30%, #0000, #000 70%) 100% / 300%
    100%;
  background-repeat: no-repeat;
  animation: shimmer 2.5s infinite;
  font-size: 50px;
  max-width: 200px;
}

@keyframes shimmer {
  100% {
    -webkit-mask-position: left;
  }
}
